* {
  /*border: red 1px solid;*/
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
#mainLayout {
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}

/* BANNER SECTION */
.banner {
  position: relative;
  width: 100%;
}
#bannerImage {
  width: 100%;
  z-index: 1;
}
#bannerTitle {
  color: white;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 5%;
}
h1 {
  font-size: 3em;
}

/* NAV BAR */
#navBar {
  display: flex;
  align-items: baseline;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
}
#name {
  margin-right: auto;
  margin-left: 1em;
  flex: auto;
  flex-shrink: 0;
  color: white;
}
#navItems {
  display: flex;
  flex: none;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 3em;
}
.navButton {
  margin-right: 1em;
  flex-shrink: 0;
  font-size: 0.8em;
  color: white;
}

/*PAGE TITLE SECTION*/
#titleSection {
  display: flex;
  align-items: baseline;
}
#pageTitle {
  margin-right: auto;
}

/*MAIN SECTION*/
#mainSection {
  width: 100%;
  order: rgb(30, 0, 255) 5px solid;
}
#imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1068px;
}
.spacer20 {
  min-height: 2em;
}
.line {
  height: 0px;
  border-top: 1px solid lightgray;
  width: 100%;
  position: relative;
  margin: auto;
}
#credentials {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#projectListSection {
  flex-grow: 2;
  flex-shrink: 0;
}
.projectList {
  list-style-type: none;
  overflow-wrap: normal;
}
#avatar {
  flex: none;
  flex-shrink: 1;
  flex-grow: 0;
  max-width: 300px;
  max-height: 300px;
  padding: 1em;
}
.showreelHeading {
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}
.showreel {
  /*margin: auto;*/
  padding: 2em;
  display: block;
  position: absolute;
  width: 90%;
}
video {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
